
<% title = 'Favorites' %>

<h2>Favorites</h2>
<section class="grid">
  <% for(const p of posts) { %>
    <article class="card">
      <a href="/post/<%=p.id%>"><img src="/uploads/<%=p.filename%>" /></a>
    </article>
  <% } %>
</section>
